.pokemon-list-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.section-divider {
  margin: 40px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.pokemoen-list {
  background: red;
  border: 1px solid #eee;
  border-radius: 12px; 
  padding: 0 0 20px 0; 
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08); 
  overflow: hidden;
  transition: transform 0.2s ease;
}

.pokemon-card { width: 200px; }
.mart-card { width: 140px; padding-top: 10px; }

.pokemoen-list :hover {
  transform: translateY(-5px); 
}

.pokemon-image {
  width: 100%;
  height: 200px;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.pokemon-image img {
  max-height: 120px;
  max-width: 100%;
  object-fit: contain;
}

.form-wrapper {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 4px solid black;
  border-radius: 15px;
  font-family: sans-serif;
}

form { display: flex; flex-direction: column; gap: 10px; }

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #3b4cca;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

button:disabled { background: #ccc; }


.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  border-left: 5px solid black;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  text-align: center;
}

.card h3 { color: #cc0000; margin: 0; }
.card p { font-size: 0.85rem; margin: 5px 0; }
